%h2.page-title= I18n.t('devise.title.confirmations.new')

= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .field
    = f.label :username
    = f.text_field :username
    = #f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
  .actions
    = f.submit I18n.t('devise.title.confirmations.submit')
= render "devise/shared/links"
