%h2.page-title= page_title! I18n.t('devise_title.passwords.new')

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .field.field-username
    = f.label :username, I18n.t('devise_form.username')
    = f.text_field :username
    =# f.email_field :email, autofocus: true
  .actions
    = f.submit I18n.t('devise_title.passwords.submit_new')
= render "devise/shared/links"
