%h2.page-title= I18n.t('devise.title.sessions.new')
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field.field-login
    = f.label :login
    = f.text_field :login
  .field.field-password
    = f.label :password
    = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    .field.field-remember-me
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit I18n.t('devise.title.sessions.submit_login')
= render "devise/shared/links"
